@tailwind base;
@tailwind components;
@tailwind utilities;

#query-select.MuiSelect-select {
  padding: 0.5rem;
  color: white;
}

.query-row svg {
  fill: white;
}

#menu- > .MuiMenu-paper {
  margin-top: 0.5rem;
}

#menu- .MuiMenu-list {
  background: #282b30;
  border: 1px solid #404348;
  color: white;
}

#combinator-toggle > button {
  color: white;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #404348;
}

#combinator-toggle > button.selected {
  background-color: #4f46e5;
}
